<table class="table" style="border: 2px solid black;">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Table</th>
    </tr>
  </thead>
  <tbody>
    {{#each tables}}
    {{#each this.value}}
        <tr>
          <td><a href="./{{ ../../dbname }}/{{ this }}/">{{ this }}</a></td>
        </tr>
    {{/each}}
    {{/each}}
  </tbody>
</table>