<table class="table" style="border: 2px solid black;">
  <thead class="thead-dark">
    <tr>
        {{#each keys}}
            <th scope="col">{{this}}</th>
        {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each values}}
    <tr>
    {{#each this.value}}
      <td scope="row">{{this}}</td>
    {{/each}}
    </tr>
    {{/each}}
  </tbody>
</table>
<script>
</script>